# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

*.un~
libs

# Tex
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz

*.pdf
!report/Final Report.pdf
